<!DOCTYPE html>
<html>
<head>
<title>Rollin' Ric's</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
<h3> Rollin' Ric's </h3>
<h2>Inventory = <%= @stock_count %></h2>
<h2>Stock level = <%= @stock_level %></h2>
<h2>Mens = <%= @stock_mens %></h2>
<h2>Womens = <%= @stock_womens %></h2>
<h2>Kids = <%= @stock_kids %></h2>

</body>
</html>
<div>
</div>

<br>
<br>
<a href="/bikes">Bikes</a>
<a href="/bikes">Order from supplier</a>
<a href="/bikes/id/edit">Edit</a>
<a href="/sales">Sales</a>
<a href="/customers">Customers</a>