<!DOCTYPE html>
<html>
<head>
<title>Rollin' Ric's</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <nav>
      <ul>
      <li><a href="/bikes">Bikes</a></li>
      <li><a href="/bikes">Order from supplier</a></li>
      <li><a href="/sales">Sales</a></li>
      <li><a href="/customers">Customers</a></li>
      </ul>
    </nav>
    <h1> Rollin' Ric's </h1>
</head>
<body>
<h3>Stock level = <%= @stock_level %></h3>
<h3>Inventory = <%= @stock_count %></h3>
<h3>Mens = <%= @stock_mens %></h3>
<h3>Womens = <%= @stock_womens %></h3>
<h3>Kids = <%= @stock_kids %></h3>




</body>
</html>