<div>
  <% @sales.each do |sale| %>
  <a href="/sales/<%= sale.id  %>"></a>
  <br>
  <br>
  <a href="/bikes/<%= sale.bike_id %>" ><p>Bike_id: <%= sale.bike_id %></p></a>
  <br>
  <a href="/bikes/<%= sale.customer_id %>" ><p>Customer_id: <%= sale.customer_id %></p></a>
  <br><hr>
  <% end %>
 
   
  <br>
   <a href="/bikes/new">Add new bike</a>
   <br>
   <a href="/inventory">Inventory</a>
   <br>
   <a href="/customers">Customers</a>
 </div>