<h2>Edit bikes</h2>

<form action="/bikes/<%= @bike.id %>" method="post">
  <input type="hidden" name="_method" value="put">

  <label for="type">Category: </label>
  <%= @bike.category %>
  <br>
  <label for="type">Type: </label>
  <%= @bike.type %>
  <br>
  <label for="type">Brand_name: </label>
  <%= @bike.brand_name %>
  <br>
  <label for="type">Model: </label>
  <%= @bike.model %>
  <br>
  <label for="type">Colour: </label>
  <%= @bike.colour %>
  <br>
  <label for="type">Size: </label>
  <%= @bike.size %>
  <br>
  <label for="type">Price: </label>
  <%= @bike.price %>
  <br>

  <br>
  <form action="/bikes/<%= @bike.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <button type="submit">Delete bike</button>
  </form>
  <br>
  <a href="/bikes">Back</a>
  <br>
  <a href="/inventory">Inventory</a>
  <br>




