<div>
  <h1><%= @bike.category %></h1>
  <h2><%= @bike.type %></h2>
  <h2><%= @bike.brand %></h2>
  <h2><%= @bike.model %></h2>
  <h2><%= @bike.colour %></h2>
  <h2><%= @bike.size %></h2>
  <h2><%= @bike.price %></h2>
</div>